  /*//////////////////////////////////////////////////////////////container/////////////////////////////////////////////////////////*/

.headingDiv {
    padding: 20px; /* add desired padding */
    margin: 0;
    border: none; /* remove border */
    display: flex;
    align-items: center;
    background-color: rgb(271, 233, 217);
    box-sizing: border-box; /* add box-sizing property */
  }
  
  .profilePic {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 100%;
    margin-left: 0 ;
  }
  
  .heading {
    /* text-align: center; */
    font-size: 48px;
    font-family: 'Oswald', sans-serif; 
    margin-left: 40px; /* add margin to the left of the heading */
    color: #FFC93C;
  }
    /*//////////////////////////////////////////////////////////////button/////////////////////////////////////////////////////////*/
    #myButton {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
      }
      

  /*//////////////////////////////////////////////////////////////containerOne/////////////////////////////////////////////////////////*/
  .containerOne {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 800px; /* Add a max-width to the container */
    margin-left:  0; /* Center the container horizontally */
}

.articleImageOne {
    flex: 0 0 50%; /* Set the image to take up 50% of the container's width */
    max-width: 350px;
    height: 350px;
    border-radius: 100%;
    margin-left: 20px; /* Add some spacing between the image and the article */
}

.articleTextOne {
    flex: 0 0 50%; /* Set the text container to take up 50% of the container's width */
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    color: rgb(31, 114, 44);

}
  /*//////////////////////////////////////////////////////////////containerTwo/////////////////////////////////////////////////////////*/
  .containerTwo {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 30px;
    max-width: 800px; /* Add a max-width to the container */
    margin-left:  0; /* Center the container horizontally */
  }
  
  .articleImageTwo {
    max-width: 50%;
    height: 350px;
    border-radius: 100%;
    margin-right: 20px; /* Add some spacing between the image and the article */
    order: 2; /* Change the order of the image element */
  }
  
  .articleTextTwo {
   
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    order: 1; /* Change the order of the text element */
    color: red;
    font-weight: bold;
  }
      /*//////////////////////////////////////////////////////////////colouredcircles/////////////////////////////////////////////////////////*/
      
      
      
      
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F5EDCE ;
      }
      
      .colorOne {
        background-color: #FFC93C;
        width:300px;
        height: 300px;
        border-radius: 50%;
        margin: 10px;
      }
      
      .colorTwo {
        background-color: #F6416C;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 10px;
      }
      
      .colorThree {
        background-color: #00B2A9;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 10px;
      }
      
      .colorFour {
        background-color: #EB5E0B;
        width:150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;
      }
      
      .colorFive {
        background-color: #C377E0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
      }
      
      @media (max-width: 768px) {
        .container {
          flex-wrap: wrap;
          justify-content: center;
        }
        
        .colorOne {
          width: 200px;
          height: 200px;
          margin: 5px;
        }
        
        .colorTwo {
          width: 175px;
          height: 175px;
          margin: 5px;
        }
        
        .colorThree {
          width: 150px;
          height: 150px;
          margin: 5px;
        }
        
        .colorFour {
          width: 125px;
          height: 125px;
          margin: 5px;
        }
        
        .colorFive {
          width: 100px;
          height: 100px;
          margin: 5px;
        }
      }
      
      
      
    /*//////////////////////////////////////////////////////////////footer/////////////////////////////////////////////////////////*/

  footer {
    background-color: #F0F0F0; /* Change this to the color you want for the footer */
    text-align: center;
    padding: 40px;
  }
  


